/*====================


Universal Styling


=====================*/

* {
  margin: 0;
  padding: 0;
  border:0;
}

html {
  overflow-x: hidden;
}

body {
  background: #F4F4F4;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

p {
  font: 16px "Raleway", sans-serif;
  text-align: justify;
  line-height: 1.5em;
  padding: 15px 0 0;
  color:#1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font: 30px "Architects Daughter", cursive;
  text-transform: uppercase;
  margin: 100px 0 30px;
}

section{
  margin: 150px 0 0;
}

footer {
  background:#E9E4F1;
  padding: 60px;
  text-align: center;
  width:100%;
  display:inline-block;
}

footer a {
  color: black;
  display: inline-block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px;
}

footer p{
  text-align: center;
}

.btn{
  background: #C1CEE2;
  padding: 15px;
  text-decoration: none;
  color: #1e1e1e;
  text-transform: uppercase;
  font: 16px "Architects Daughter", cursive;
  display: inline-block;
  margin: 20px 0;
  border: 8px solid #E9E4F1;
  border-radius: 25px;
}

.btn:hover{
  background: #E9E4F1;
  border: 8px solid #C1CEE2;
}

/*====================


Navigation Bar

=====================*/

header{
  background: url(../images/header-image.png) no-repeat fixed;
  padding: 80px 0 30px;
  min-height: 210px;
  z-index: 2;
  width:100%;
}

header nav {
    background: #E8E1F2;
}

header nav ul li {
    display: inline-block;
    padding: 20px 100px;
    font: 20px "Architects Daughter", cursive;
    text-transform: uppercase;
}

header nav a{
  text-decoration: none;
  color: #1e1e1e;
}

#logo {
  padding: 45px 10px 0 30px;
  display: inline-block;
  height: 120px;
  vertical-align: middle;
  position: absolute;
  top: 6px;
  left: 5px;
}

header nav a:hover {
  color:#A16FFE;
}

.good-life-intro,
.module-intro,
.rp-intro{
  padding: 0px 100px 0px;
}

/*====================


Home Page Styling


=====================*/

.module-column img {
    width: 30%;
    float: left;
    margin: 10px;
}

.module-column img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.module-one{
  border: 5px solid #FED020;
}
.module-two{
  border: 5px solid #FF5757;
}
.module-three{
  border: 5px solid #D09676;
}
.module-four{
  border: 5px solid #A26FFF;
}
.module-five {
  border: 5px solid #FA86C3;
}
.module-six {
  border: 5px solid #FFA439;
}

.oats-img {
    float: left;
    max-width: 300px;
    margin: 0px 50px 0px 0px;
    border: 5px solid #F71968;
}

.healthy-recipes {
  display:inline-block;
}

.recipe-heading {
  font: 30px "Architects Daughter", cursive;
  text-transform: uppercase;
  margin: 30px 0 30px;
}

.isa {
  float: left;
  max-width: 300px;
  margin: 0px 50px 0px 0px;
  border: solid 5px #cb8935;
}

.more-about-isa,
.meet-isa-home{
  display: inline-block;
  background: #F4E4CF;
  margin: 150px 0 0;
  width: 100%;
  padding-bottom: 65px;
}


/*====================


Module Page Styling


=====================*/

.module-btn a {
    width: 24%;
    float: left;
    margin: 10px 20px;
}

.first-module-btn,
.second-module-btn,
.third-module-btn,
.fourth-module-btn,
.fifth-module-btn,
.sixth-module-btn{
  text-decoration:none;
  color: #1e1e1e;
  text-transform: uppercase;
  text-align: center;
  font: 16px "Architects Daughter", cursive;
  display: inline-block;
  padding: 15px;
  border-radius: 25px;
}

.first-module-btn{
  background: #E8F9CF;
  border: 8px solid #FED020;
}

.second-module-btn{
  background: #E6DEFF;
  border: 8px solid #FF5757;
}

.third-module-btn{
  background: #E5F9FF;
  border: 8px solid #D3A990;
}

.fourth-module-btn{
  background: #EFE1C4;
  border: 8px solid #FC78C3;
}

.fifth-module-btn{
  background: #F9F9CF;
  border: 8px solid #A26FFE;
}

.sixth-module-btn{
  background: #FFEDF3;
  border: 8px solid #FFAA49;
}

.exp-module-one,
.exp-module-two,
.exp-module-three,
.exp-module-four,
.exp-module-five,
.exp-module-six{
  display: inline-block;
  margin: 150px 0 0;
  width: 100%;
  padding-bottom: 65px;
}

.exp-module-one{
  background: #fed02038;
}

.exp-module-two{
  background: #ff575745;
}

.exp-module-three{
  background: #d096766e;
}

.exp-module-four{
  background: #a26fff24;
}

.exp-module-five{
  background: #ff66c436;
}

.exp-module-six{
  background: #ffa43954;
}

.exp-module-one-img,
.exp-module-three-img,
.exp-module-five-img{
  float: left;
  max-width: 300px;
  margin: 0px 50px 0px 0px;
}


.exp-module-two-img,
.exp-module-four-img,
.exp-module-six-img{
  float: right;
  max-width: 300px;
  margin: 0px 0px 0px 50px;
  }

.exp-module-one-img{
  border: solid 5px #cb8935;
}

.exp-module-two-img{
  border: solid 5px #FF5757;
}

.exp-module-three-img{
  border: solid 5px #D09676;
}

.exp-module-four-img{
  border: solid 5px #A26FFF;
}

.exp-module-five-img{
  border: solid 5px #FF66C4;
}

.exp-module-six-img{
  border: solid 5px #FFA439;
}

/*====================


Recipe Book Styling


=====================*/


.poke-bowl-img{
  float: left;
  margin: 0px 50px 0px 0px;
  max-width: 300px;
  border:solid 5px #F9D108;
}

.rb-content {
  display: inline-block;
  background: #f3d7e5d9;
  margin: 150px 0 0;
  width: 100%;
  padding-bottom: 65px;
}

.rb-content li{
    font: 16px "Raleway", sans-serif;
    text-align: justify;
    line-height: 1.5em;
    padding: 15px 0 0;
}

.recipe-column img{
    width:30%;
    float: left;
    margin: 10px;
    height:300px;
}

/*====================


About Me Page Styling


=====================*/

.isa-hero {
  position: relative;
  width: 300px;
  left: 40%;
  border: 5px solid #F2E7D6;
  top: -90px;
  box-shadow: 12px 12px 2px 1px #E8E1F2;
}

.about-intro {
    margin: 0px;
}

.about-intro::first-letter{
  font-size:30px;
}

.number-one,
.number-two,
.number-three,
.number-four {
  width: 100px;
  display: block;
  margin: 0 auto;
  float:left;
  padding: 0 100px 0 0;
  animation: bounce 1.5s linear 2s forwards;
}

.ff-row-one,
.ff-row-two,
.ff-row-three,
.ff-row-four,
.ff-row-five {
    padding: 80px 0;
}

@keyframes bounce {
  0%{
    opacity: 0;
    transform: scale(0.3);
  }

  50%{
    opacity: 0.5;
    transform: scale(0.89);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

/*====================


Form Styling


=====================*/

form body{
  background: #e7b6ff0f;
}

.contact-us {
  background: #E7EBF2;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
  border: solid 5px #C1CEE2;
  color: #1e1e1e;
  font: 16px "Raleway", sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

.label-input{
  display: block;
  padding: 20px 0 10px 0;
}

.label-input:before{
  content:url(../images/smiley.png);
}

.input {
    padding: 10px;
    font: 16px "Raleway", sans-serif;
}

.input:hover{
  background: #e7b6ff0f;
}

.submit{
  padding: 20px 0;
}

.submit input {
    font: 16px "Raleway", sans-serif;
    letter-spacing: 0.8px;
    background: #6c4573;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}


.submit input:hover{
    background: white;
    color: #6c4573;
    border: 3px solid #6c4573;
}
