/*====================


Universal Styling


=====================*/

* {
  margin: 0;
  padding: 0;
  border:0;
}

html,body {
  overflow-x: hidden;
  width:100%;
}

body {
  background: #F4F4F4;
}

.container {
  max-width: 65%;
  margin: 0 auto;
}

p {
  font: 1.1em "Raleway", sans-serif;
  text-align: justify;
  line-height: 1.5em;
  padding: 3% 0 0;
  color:#1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font: 2.2em "Architects Daughter", cursive;
  text-transform: uppercase;
  margin: 100px 0 30px;
}

section{
  margin: 150px 0 0;
}

footer {
  background:#E9E4F1;
  padding: 5% 0;
  text-align: center;
  width:100%;
  display:inline-block;
}

footer a {
  color: black;
  display: inline-block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px;
}

footer p{
  text-align: center;
}

.btn{
  background: #C1CEE2;
  padding: 15px;
  text-decoration: none;
  color: #1e1e1e;
  text-transform: uppercase;
  font: 1.1em "Architects Daughter", cursive;
  display: inline-block;
  margin: 20px 0;
  border: 8px solid #E9E4F1;
  border-radius: 25px;
}

.btn:hover{
  background: #E9E4F1;
  border: 8px solid #C1CEE2;
}

/*====================


Navigation Bar

=====================*/

header{
  background: url(../images/header-image.png) no-repeat fixed;
  padding: 8% 0 3%;
  min-height: 210px;
  z-index: 2;
  width:100%;
}

header nav {
    background: #E8E1F2;
}

.navbar{
  display: flex;
}

#logo{
  max-width:30%;
  margin-left: 5%;
}

nav ul{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  font: 1.2em "Architects Daughter", cursive;
  text-transform: uppercase;
  list-style-type: none;
  line-height: 1;
  flex:auto;
}

header nav a{
  text-decoration: none;
  color: #1e1e1e;
  padding: 0 6em 0 0;
}

header nav a:hover {
  color:#A16FFE;
}

.good-life-intro,
.module-intro,
.rp-intro{
  padding: 0px 10% 0px;
}

/*====================


Home Page Styling


=====================*/

.module-row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 1%;
}

.module-column{
  flex:30%;
  max-width: 30%;
  padding: 0 1%;
}
.module-column img{
  margin-top: 3%;
  vertical-align: middle;
  max-width:100%;
}

.module-column img:hover {
    transform: scale(1.1);
    transition: .3s;
}

.module-one{
  border: 5px solid #FED020;
}
.module-two{
  border: 5px solid #FF5757;
}
.module-three{
  border: 5px solid #D09676;
}
.module-four{
  border: 5px solid #A26FFF;
}
.module-five {
  border: 5px solid #FA86C3;
}
.module-six {
  border: 5px solid #FFA439;
}

.healthy-recipes-flex{
  display:flex;
  flex-direction: row;
}

.healthy-recipe-info{
  display: flex;
  flex-wrap: wrap;
}

.oats-img{
  max-width:40%;
  object-fit: cover;
  margin: 0px 50px 0px 0px;
  border: 5px solid #F71968;
}

.recipe-heading {
  margin: 30px 0 30px;
}

.meet-isa-home{
  background: #F4E4CF;
  margin: 150px 0 0;
  width: 100%;
  padding-bottom: 65px;
}

.more-about-isa{
  display: flex;
}

.isa-flex{
  display: flex;
}

.isa-info{
  display: flex;
  flex-wrap: wrap;
}

.isa{
  max-width:40%;
  object-fit: cover;
  margin: 50px 50px 0px 0px;
  border: solid 5px #cb8935;
}


/*====================


Module Page Styling


=====================*/

.module-btn a {
    margin: 10px 20px;
    padding: 5% 10%;
    width: 150px;
}

.module-btn-row-one,
.module-btn-row-two{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.module-btn{
  flex-basis: 33%;
}

.first-module-btn,
.second-module-btn,
.third-module-btn,
.fourth-module-btn,
.fifth-module-btn,
.sixth-module-btn{
  text-decoration:none;
  color: #1e1e1e;
  text-transform: uppercase;
  text-align: center;
  font: 1.1em "Architects Daughter", cursive;
  display: inline-block;
  padding: 15px;
  border-radius: 25px;
}

.first-module-btn{
  background: #E8F9CF;
  border: 8px solid #FED020;
}

.second-module-btn{
  background: #E6DEFF;
  border: 8px solid #FF5757;
}

.third-module-btn{
  background: #E5F9FF;
  border: 8px solid #D3A990;
}

.fourth-module-btn{
  background: #EFE1C4;
  border: 8px solid #FC78C3;
}

.fifth-module-btn{
  background: #F9F9CF;
  border: 8px solid #A26FFE;
}

.sixth-module-btn{
  background: #FFEDF3;
  border: 8px solid #FFAA49;
}

.exp-module-one,
.exp-module-two,
.exp-module-three,
.exp-module-four,
.exp-module-five,
.exp-module-six{
  display: inline-block;
  margin: 150px 0 0;
  width: 100%;
  padding-bottom: 65px;
}

.exp-module-one{
  background: #fed02038;
}

.exp-module-two{
  background: #ff575745;
}

.exp-module-three{
  background: #d096766e;
}

.exp-module-four{
  background: #a26fff24;
}

.exp-module-five{
  background: #ff66c436;
}

.exp-module-six{
  background: #ffa43954;
}

.exp-module-one-img,
.exp-module-three-img,
.exp-module-five-img{
  float: left;
  max-width: 300px;
  margin: 0px 50px 0px 0px;
}


.exp-module-two-img,
.exp-module-four-img,
.exp-module-six-img{
  float: right;
  max-width: 300px;
  margin: 0px 0px 0px 50px;
  }

.exp-module-one-img{
  border: solid 5px #cb8935;
}

.exp-module-two-img{
  border: solid 5px #FF5757;
}

.exp-module-three-img{
  border: solid 5px #D09676;
}

.exp-module-four-img{
  border: solid 5px #A26FFF;
}

.exp-module-five-img{
  border: solid 5px #FF66C4;
}

.exp-module-six-img{
  border: solid 5px #FFA439;
}

/*====================


Recipe Book Styling


=====================*/

.rb-content {
  background: #f3d7e5d9;
  padding-bottom: 65px;
  width: 100%;
  margin: 150px 0 0;
}

.recipe-flex{
  display: flex;
  flex-direction: row;
}

.recipe-flex img{
  width: 47%;
  height: auto;
  margin: 50px 50px 0px 0px;
  border:solid 5px #F9D108;
  object-fit: cover;
}

.rb-content li{
    font: 1.1em "Raleway", sans-serif;
    text-align: justify;
    line-height: 1.5em;
    padding: 15px 0 0;
}

.recipe-row figcaption p{
  text-align: center;
}

.recipe-row{
  display: flex;
  flex-wrap: wrap;
}

.recipe-column{
  flex:31%;
  max-width: 31%;
  padding: 1%;
}

.recipe-column img{
  margin-top: 1%;
  vertical-align: middle;
  width:100%;
  height:99%;
}

aside p{
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  padding:5% 0;
}

aside a{
  text-decoration: none;
  color: navy;
}
/*====================


About Me Page Styling


=====================*/

.isa-hero {
  position: relative;
  width: 300px;
  left: 40%;
  border: 5px solid #F2E7D6;
  top: -90px;
  box-shadow: 12px 12px 2px 1px #E8E1F2;
}

.about-intro {
    margin: 0px;
}

.about-intro::first-letter{
  font-size:2em;
}

.more-about-isa{
  display: inline-block;
  background: #F4E4CF;
  margin: 150px 0 0;
  width: 100%;
  padding-bottom: 65px;
}

.isa-about{
  float: left;
  max-width:40%;
  object-fit: cover;
  margin: 50px 50px 0px 0px;
  border: solid 5px #cb8935;
}

.number-one,
.number-two,
.number-three,
.number-four {
  width: 100px;
  display: block;
  margin: 0 auto;
  float:left;
  padding: 0 100px 0 0;
  animation: bounce 1.5s linear 2s forwards;
}

.ff-row-one,
.ff-row-two,
.ff-row-three,
.ff-row-four,
.ff-row-five {
    padding: 80px 0;
}

@keyframes bounce {
  0%{
    opacity: 0;
    transform: scale(0.3);
  }

  50%{
    opacity: 0.5;
    transform: scale(0.89);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

/*====================


Form Styling


=====================*/

form body{
  background: #e7b6ff0f;
}

.contact-us {
  background: #E7EBF2;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
  border: solid 5px #C1CEE2;
  color: #1e1e1e;
  font: 1.1em "Raleway", sans-serif;
  text-align: justify;
  line-height: 1.5em;
}

.label-input{
  display: block;
  padding: 20px 0 10px 0;
}

.label-input:before{
  content:url(../images/smiley.png);
}

.input {
    padding: 10px;
    font: 1.1em "Raleway", sans-serif;
}

.input:hover{
  background: #e7b6ff0f;
}

.submit{
  padding: 20px 0;
}

.submit input {
    font: 1.1em "Raleway", sans-serif;
    letter-spacing: 0.8px;
    background: #6c4573;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}


.submit input:hover{
    background: white;
    color: #6c4573;
    border: 3px solid #6c4573;
}

/*====================


Media Queries

=====================*/

@media screen and (max-width: 1000px) {

  .recipe-column,
  .module-column {
    flex: 100%;
    max-width: 100%;
  }

  .isa-flex,
  .healthy-recipes-flex,
  .recipe-flex{
  flex-direction: column;
}
  .recipe-flex img{
  width:90%;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
  text-align: center;
}

.isa-flex img,
.healthy-recipes-flex img{
  max-width:100%;
  margin: 0 auto;
  margin-top: 10%;
}

.btn{
  margin: 0 auto;
  margin-top: 10%;
}

}

@media all and (max-width: 1000px) {

/*Home Page*/
#logo,
nav ul {
flex-direction: column;
flex-wrap: wrap;
}

#logo{
max-width: 30%;
margin:0 auto;
display: block;
}

.navbar li:nth-child(even) {
background: aliceblue;
margin: 0 -9999rem;
padding: 0.80rem 9999rem;
}

.navbar li:nth-child(odd):not(:first-child) {
background: #c9dcec;
margin: 0 -9999rem;
padding: 0.80rem 9999rem;
}

nav ul li a{
align-items: center;
margin-left: 0;
padding:0;
}

.navbar{
  margin-left: 0;
  margin-right: 0;
}

/*Module Page*/

.module-btn-row-one,
.module-btn-row-two{
  flex-direction: column;
  flex-wrap: wrap;
}

.module-btn a{
  padding: 2%;
  margin-bottom: 10%;
  width: -WEBKIT-FILL-AVAILABLE;
}

.exp-module-one-img,
.exp-module-two-img,
.exp-module-three-img,
.exp-module-four-img,
.exp-module-five-img,
.exp-module-six-img{
  margin: 0 auto;
  max-width: 100%;
  display: block;
  margin-bottom: 10%;
}

/*Recipe Page*/

.isa-hero{
  left:35%;
  top: -20px;
}

.more-about-isa{
  flex-direction: column;
  flex-wrap: wrap;
}

.isa-about{
  max-width: 100%;
  margin-bottom: 10%;
  margin-top: 0;
}

}
